*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/src/main/java/com/sanha/overlaymemo/IDManager/IDManger.java
app/release/output.json
app/release/app-release.zip
app/release/app-release.apk
app/release/app-release.aab
